version: "3.8"

services:
  backend:
    build: ./backend
    deploy:
      replicas: 3
    networks:
      - app_net

  nginx:
    image: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app_net

networks:
  app_net:
    driver: overlay
